<a href="https://colab.research.google.com/github/kishore707588/AI-ML-ASSIGNMENT/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

# Task1 create two lists & join those two lists


# creating two lists

test_list1 =[1,4,5,6,5]
test_list2 =[3,5,7,2,5]
#using + operator
test_list3=test_list1+test_list2
# printing concatenated list
print ("concatenated list using + : " + str(test_list3))

concatenated list using + : [1, 4, 5, 6, 5, 3, 5, 7, 2, 5]

In [2]:
# task 2 : with "if" statement find  the even numbers


sum = int (input("enter a number : "))
if(sum%2)==0:
 print("the number is even ")
else :
  print("the number is not even")

enter a number : 78
the number is even

In [7]:
# Task 3 create a dictionary with 3 keys and 2 values for each key


# create a dictionary with 3keys
# each key has two values
demo = {'first': [1,2],
        'second':[3,4],
        'third':[5,6]}
# getting values of a key
example=demo['first']
print(example)

[1, 2]

In [8]:
#  Task 4 create a function with 'if' statement which is used to find the odd numbers


num=int(input("enetr any number :"))
if(num%2)==0:
  print("{0}is not an odd number".format(num))
else:
  print("{0} is an odd number".format(num))

enetr any number :45
45 is an odd number

In [14]:
# Task 5 write  apython function with if statement to sum all the numbers in a list
# sample list : (8,2,3,0,7)
# expected output : 20


# python program is find the sum of the elements in the

In [15]:




list1=[ 8,2,3,0,7]
# using sum() function
total = sum (list1)
# printing the output
print ("the sum of elements in list :",total)

TypeError: ignored